.Header{
        background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.Header ul{
        display: flex;
    list-style: none;
    justify-content: space-between;
    width: 200px;
}

.link{
    text-decoration: none;
    color: wheat;
}
